/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/** BEGIN OF CUSTOM CSS **/


html {
    --color-primary-text: rgba(0,0,0,0.87);
    --color-secondary-text: rgba(0,0,0,0.54);
    --color-accent: #D91F5D;
    --color-primary: #58595B;
    --color-base: #DBDBDB;
    --color-half-balance: #D1BDCB;
    --color-balance: #4A2545;
    --color-inverse: #FFFFFF;

    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;

    font-family: "canada-type-gibson", gibson, sans-serif;
    font-weight: 400;
    font-size: inherit;
    color: var(--color-primary-text);
}


p a,
footer a {
    color: var(--color-accent);
    text-decoration: none;
}


a:hover { color: var(--color-half-balance); }


p {
    line-height: 1.5em;
    margin-bottom: 3em;
}

p:last-child {
    margin-bottom: 0;
}


h1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5em;
}

h1 > a,
h1 > a:hover {
    color: inherit;
    text-decoration: none;
}

h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.25em;
}

h5 {
    font-weight: 400;
    font-size: 1.15em;
    letter-spacing: 0;
    line-height: 2em;
    margin-top: 0.5em;
}

h6 {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.75em;
}


.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .trapezoid-text { font-size: 5vw; }
}

@media screen and (min-width: 320px) and (max-width: 672px) {
    @keyframes trapezoid-slide-left {
        from { transform: translateX(50vw); }
        35% { transform: translateX(50vw); }
        to { transform: translateX(-35vw); }
    }


    @keyframes trapezoid-slide-right {
        from { transform: translateX(-50vw); }
        35% { transform: translateX(-50vw); }
        to { transform: translateX(35vw); }
    }


    @keyframes trapezoid-text-fade {
        from {
            opacity: 0.0;
            width: 0vw;
        }
        80% {
            opacity: 0.0;
            width: 0vw;
        }
        85% {
            opacity: 0.0;
            width: 100vw;
        }
        to { opacity: 1.0; }
    }

    #page-header,
    .menu-separator {
        animation: 1.2s trapezoid-text-fade;
    }

    .trapezoid {
        box-sizing: border-box;
        width: 35vw;
        height: 35vw;
    }

    .trapezoid.big-up-grey {
        transform: translateX(-35vw);
        margin-top: 16vh;
        margin-left: -35vw;

        background: var(--color-primary);

        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

        animation: 1s trapezoid-slide-left;
    }

    .trapezoid.big-down-pink {
        transform: translateX(35vw);
        margin-top: 10vh;
        margin-right: -35vw;
        background: var(--color-accent);

        -webkit-clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
        clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
        shape-outside: polygon(20% 100%, 80% 100%, 100% 0, 0 0);

        animation: 1s trapezoid-slide-right;
    }

    .trapezoid-spacing {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100vw;
        padding: 0 1rem;

        animation: 1.2s trapezoid-text-fade;
    }

    .trapezoid-text {
        padding-top: 1em;
        font-size: 1.15em;
        max-width: 800px;

        color: var(--color-primary-text);
        text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }
}


@media screen and (min-width: 672px) {

    .content > .separator:first-child {
        display: none;
    }

    @keyframes trapezoid-slide-left {
        from { transform: translateX(30vw); }
        35% { transform: translateX(30vw); }
        to { transform: translateX(0); }
    }


    @keyframes trapezoid-slide-right {
        from { transform: translateX(-30vw); }
        35% { transform: translateX(-30vw); }
        to { transform: translateX(0); }
    }


    @keyframes trapezoid-text-fade {
        from {
            opacity: 0.0;
            width: 0vw;
        }
        80% {
            opacity: 0.0;
            width: 0vw;
        }
        85% {
            opacity: 0.0;
            width: 60vw;
        }
        to {
            opacity: 1.0;
        }
    }


    #page-header,
    .menu-separator {
        animation: none;
    }


    .trapezoid {
        box-sizing: border-box;
        width: 35vw;
        height: 35vw;
    }

    .trapezoid.big-up-grey {
        margin: 6vw 0 0 -15vw;

        background: var(--color-primary);

        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

        animation: 1s trapezoid-slide-left;
    }

    .trapezoid.big-down-pink {
        margin: 0 -15vw 0 0;

        background: var(--color-accent);

        -webkit-clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
        clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);

        animation: 1s trapezoid-slide-right;
    }

    .trapezoid-spacing {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 60vw;

        animation: 1.2s trapezoid-text-fade;
    }

    .trapezoid-text {
        margin-top: 6vw;
        max-width: 75%;

        font-size: 1.3225em;
        font-size: 1.5vw;
        color: var(--color-primary-text);
        /* text-shadow: 0 1px 2px rgba(0,0,0,0.1); */
    }
}


a#scroll-indicator {
    display: none;
    align-self: flex-start;
}


@media screen and (min-width: 672px) {
    a#scroll-indicator { display: inline-block; }
}


form {
    margin-bottom: 2.5rem;
}


article {
    padding-bottom: 1vh;
}


.button,
.button:hover,
.button:focus {
    display: inline-block;
    height: auto;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    box-sizing: border-box;
    max-width: 15em;
    padding: 0.5em 2em;
    color: #FFF;
    background-color: var(--color-accent);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .15s ease;
}


.button:hover {
    transform: translateY(-1px);
    background: var(--color-accent);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}


.separator {
    width: 100vw;
    border-top: 1px solid;
    border-top-color: var(--color-base);
}


@media screen and (min-width: 672px) {
    .separator { width: 75vw; }
}



/** HEADER AND NAVIGATION **/

#nav-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    background: #FFF;
}

#nav-container.sticky {
    border-bottom: 1px solid var(--color-base);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.menu-separator {
    width: 100vw;
    height: 6px;
    /* background: var(--color-accent); */
}


@media screen and (min-width: 672px) {
    .menu-separator { display: none; }
}

#page-header {
    flex: 1;
    padding-top: 0;
    padding-bottom: 0;
}


#page-header img {
    margin-left: -30px;
    margin-bottom: 0px;
}


#primary-navigation ul {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
}

#primary-navigation li {
    /* width: 50%; */
    padding-right: .5em;
    list-style: none;
}

/* #primary-navigation li:nth-child(even) { text-align: right; } */

#primary-navigation a {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1em;
    line-height: 1.75em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
}


#primary-navigation a:hover {
    border-bottom: 3px solid var(--color-accent);
}


#primary-navigation #nav-current {
    color: var(--color-accent);
    border-bottom: 3px solid var(--color-accent);
}


@media screen and (min-width: 672px) {
    #nav-container {
        padding: 1em;
        margin-bottom: 1em;
    }

    #primary-navigation ul {
        padding: 1em 0;
        justify-content: flex-end;
    }
    
    #primary-navigation li {
        width: auto;
        padding-left: 1.5em;
        text-align: left !important;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1em;
    }

    #primary-navigation a {
        line-height: 1em;
    }
}

main {
    flex: 1;
    margin-top: 110px;
}

section {
    box-sizing: border-box;
    overflow-x: hidden;
}


/** SECTION: INTRO **/

section#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100vw;
    overflow-x: hidden;
    margin-bottom: 12em;
}

/** SECTION: WHAT **/

section#what {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 8rem 0;
    color: var(--color-inverse);
    background: var(--color-accent);
}

.service {
    flex: 1;
    min-height: 420px;
    padding: 2em;
    background: #fff;
    color: var(--color-primary-text);
    line-height: 1.5em;
    border: 1px solid var(--color-base);
}

.bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 3px solid #5cc70c;
    font-size: 2rem;
    height: 2rem;
    min-height: 2rem;    
    width: 2rem;
    min-width: 2rem;
    color: #5cc70c;
    margin-right: .5em;
}

section#what > .services {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 672px) {
    section#what > .services {
        display: grid;
        max-width: 1480px;
        margin: 0 4em;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }

    .service {
        flex: 1;
        padding: 2em;
        background: #fff;
        color: var(--color-primary-text);
        line-height: 1.5em;
        border: 1px solid var(--color-base);
        border-radius: 3px;
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
}

.service > h5 {
    margin: 0 0 1em 0;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service > .separator {
    width: 100%;
    background: var(--color-base);
    border-radius: 3px;
    height: 1px;
    margin: 1.5em 0;
}

.service > span {
    display: block;
    min-height: 8em;
    color: var(--color-secondary-text);
}

.service > ul > li {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    align-items: center;
    margin: 0 0 1em 0;
}

/** SECTION: CUSTOMERS **/

section#customers { padding: 4rem 0; }

section#customers > .customer-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 900px;
}

.customer-logo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--color-base);
    margin: 0;
    padding: 2em;
    width: 300px;
}

.customer-logo img {
    display: block;
    max-width: 256px;
    max-height: 128px;
    width: auto;
    height: auto;
}

.customer-logo:last-child { border-right: none;  }

/** SECTION: TEAM **/

section#team {
    width: 100vw;
    padding: 4rem 0;

    font-size: 1.15em;
}


.faces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.member {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2em;
}


.face {
    width: 10em;
    height: 10em;
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.face.placeholder {
    border: 1px solid;
    border-color: var(--color-base);
    opacity: 0.54;
}


span.role {
    color: var(--color-secondary-text);
    font-size: 0.869em;
    font-style: italic;
}


/** SECTION: CONTACT **/

section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
}


/** SECTION: IMPRESSUM **/

.supress-animations * {
    animation: none !important;
}


section#impressum {
    font-size: 0.869em;
    margin-top: 1em;
}


@media screen and (min-width: 672px) {
    section#impressum {
        font-size: 1em;
        margin: 3em auto;
        max-width: 50vw;
    }
}


/** FOOTER **/

footer {
    line-height: 25px;

    background: var(--color-balance);
    color: #FFF;
}

footer section {
    padding-bottom: 0vh;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (min-width: 672px) {
    footer {
        padding: 3em 0;
    }

    .footer-content {
        max-width: 50vw;
        padding: 1em 0;
    }

    .footer-content > section:last-child {
        text-align: right;
    }
}


/** SECTION: POSTS, SECTION: IDEAS **/

section#ideas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    /*overflow-x: scroll;*/

    padding: 8rem 0;

    background: var(--color-primary);
    color: var(--color-inverse);
}

section#posts {
    margin: 0 auto;
    max-width: 600px;
}

section#posts ul {
    display: flex;
    flex-direction: column;
}

section#posts ul > li { margin-bottom: 2rem; }

section#ideas ul > li > a,
section#posts ul > li > a {
    flex: 1;
    text-decoration: none;
}

section#ideas ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
}

section#ideas ul > li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    min-width: 420px;
    align-self: stetch;
}

.post-link {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1rem;
    background: #fff;
    color: var(--color-primary-text);
    line-height: 1.5em;
    border: 1px solid var(--color-base);
    border-radius: 3px;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.post-link h4 {
    font-size: 1.15em;
    text-transform: none;
    text-align: left;
    margin: 0;
}

.post-link h4:after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--color-accent);
    width: 0;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

.post-link:hover h4:after { width: 100%; }

.post-link > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.post-link > .abstract {
    flex: 1;
    color: var(--color-secondary-text);
}

.post-link > .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-style: italic;
    color: var(--color-primary);
}

.post-link > .footer > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    margin-right: .5em;
}
.post-link > .footer > .tags { flex: 2; }
.post-link > .footer > .language { margin-left: auto; }


/** ARTICLE **/

article {
    margin: 0 auto;
    max-width: 600px;
}

#post-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
    color: var(--color-secondary-text);
}

#post-info > .face {
    width: 64px;
    height: 64px;
    border: 1px solid var(--color-accent);
    margin: 0 1em 0 0;
}

article > h1 {
    line-height: 1.15em;
    margin-bottom: 1rem;
}

article > h2 {
    font-size: 1.3225rem;
    line-height: 1.15em;
    margin-bottom: 1em;
}

article > h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    letter-spacing: 0px;
    text-transform: uppercase;
}

article > p {
    margin-bottom: 2em;
}

article img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

article th {
    color: var(--color-balance);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

article ul {
    margin-bottom: 1em;
    list-style-type: disc;
}

article ul > li { line-height: 1.45em; }

.footnotes {
    border-top: 1px solid var(--color-base);
    margin: 3rem 0 2rem 0;
    padding-top: 2em;
    font-size: 0.862em;
    color: var(--color-secondary-text);
}

.footnotes > ol { list-style-type: decimal; }
.footnotes > ol > li { margin-bottom: .5em; }

em { font-style: italic; }
strong { font-weight: bold; }

code {
    background: #F8F8F8;
    padding: .2em .5em;
    margin-right: .25em;
    border-radius: 3px;
    font-size: 1.15rem;
    font-family: monospace;
}

pre > code {
    background: var(--color-inverse);
    border: 1px solid var(--color-base);
    width: 100%;
    display: inline-block;
    margin-bottom: 2em;
    padding: 1em;
    line-height: 1.35em;
    overflow-x: auto;
}

blockquote {
    font-style: italic;
    margin-left: -21px;
    margin-bottom: 1.75em;
    padding-left: 18px;
    border-left: 3px solid #444;
}

blockquote > p {
    margin-bottom: 2em;
}

blockquote > ul { list-style: none; }
