/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/******* BEGIN OF CUSTOM CSS ***********************/


html {
    --color-primary-text: rgba(0,0,0,0.87);
    --color-secondary-text: rgba(0,0,0,0.54);
    --color-accent: #D91F5D;
    --color-primary: #58595B;
    --color-base: #DBDBDB;
    --color-half-balance: #D1BDCB;
    --color-balance: #4A2545;
    --color-inverse: #FFFFFF;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;

    font-family: gibson-regular, sans-serif;
    font-size: inherit;
    color: var(--color-primary-text);
}


a:hover { color: var(--color-half-balance); }

p {
    line-height: 1.5em;
    margin-bottom: 3em;
}

/*p:only-of-type {
    margin-bottom: 0;
}*/

#nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    
    padding: 1em;
    margin-bottom: 1em;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: gibson-semibold;
    font-size: 2.5rem;
}

h4 {
    font-family: gibson-regular;
    font-size: 1.52em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3em;
}

h5 {
    font-family: gibson-regular;
    font-size: 1.15em;
    letter-spacing: 0;
    line-height: 2em;
    margin-top: 0.5em;
}

#page-header {
    padding-top: 0;
    padding-bottom: 0;
}

#page-header img {
    margin-left: -30px;
    margin-bottom: 0px;
}

#primary-navigation ul {
    display: flex;
    flex-direction: row;
    padding: 0 0 24px 0;
}

#primary-navigation li {
    list-style: none;
    padding-right: 24px;
}

#primary-navigation a {
    color: var(--color-primary);
    font-family: gibson-semibold;
    font-size: 1em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
}

#primary-navigation a:hover {
    border-bottom: 3px solid var(--color-accent);
}

#primary-navigation #nav-current {
    color: var(--color-accent);
    border-bottom: 3px solid var(--color-accent);
}


@keyframes trapezoid-slide {
    from {
        width: 50vw;
    }

    25% {
        width: 50vw;
    }

    to {
        width: 20vw;
    }
}


@keyframes trapezoid-text-fade {
    from {
        opacity: 0.0;
        width: 0vw;
    }

    80% {
        opacity: 0.0;
        width: 0vw;
    }
    
    85% {
        opacity: 0.0;
        width: 60vw;
    }

    to {
        opacity: 1.0;
    }
}


.trapezoid {
    box-sizing: border-box;
    animation: 1s trapezoid-slide;
}

.trapezoid.big-up-grey {
    border-right: 7vh solid transparent;
    border-bottom: 35vh solid var(--color-primary);
    width: 20vw;
    height: 0;
    padding-top: 6vw;
    margin-left: -8px;
}

.trapezoid.big-down-pink {
    border-left: 7vh solid transparent;
    border-top: 35vh solid var(--color-accent);
    width: 20vw;
    height: 0;
    margin-left: auto;
    margin-right: -8px;
}

.trapezoid-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60vw;

    animation: 1.2s trapezoid-text-fade;
}

@media only screen and (min-width: 672px) {
    .trapezoid.big-up-grey {
        border-right: 7vw solid transparent;
        border-bottom: 35vw solid var(--color-primary);
        height: 0;
        padding-top: 6vw;
    }

    .trapezoid.big-down-pink {
        border-left: 7vw solid transparent;
        border-top: 35vw solid var(--color-accent);
        height: 0;
        margin-left: auto;
    }

    .trapezoid-text {
        margin-top: 8%;
        max-width: 75%;
        font-size: 1.3225em;

        color: var(--color-primary);
        text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }
}


a#scroll-indicator {
    align-self: flex-start;
    display: inline-block;
}


footer {
    padding: 3em 0;
    line-height: 25px;

    background: var(--color-balance);
    color: #FFF;
}

footer section {
    padding-bottom: 0vh;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50vw;
    padding: 1em 0;
    margin: 0 auto;
}

p a,
footer a {
    color: var(--color-accent);
    text-decoration: none;
}

form {
    margin-bottom: 2.5rem;
}

article {
    padding-bottom: 1vh;
}


.clip-each {
    width: 300px;
    height: 300px;
    position: relative;
}

.clip-each:after {
    content: "";
    position: absolute;
    background: #fff;
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
}

#case-capm:after {
    background-image: url("/assets/showcase/campus.jpg");
}

#case-classmind:after {
    background-image: url("/assets/showcase/classmind.png");
}

#case-capm1:after {
    background-image: url("/assets/showcase/campus.jpg");
}

#case-samson:after {
    background-image: url("/assets/showcase/samson.jpg");
}


#showcase .trapezoid-up {
    min-width: 300px;
    min-height: 300px;
    margin-left: 1em;
}

#showcase .trapezoid-down {
    min-width: 300px;
    min-height: 300px;
    margin-right: 1em;
}

#showcase .trapezoid-up, .trapezoid-up:after {
    float: right;
    
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    shape-outside: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

#showcase .trapezoid-down, .trapezoid-down:after {
    float: left;

    -webkit-clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
    clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
    shape-outside: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
}

.border-style-thin {
    background-color: var(--color-primary);
}

.border-style-thin:after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}


.border-style-none {
    background-color: var(--color-inverse);
}

.border-style-none:after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}


.button,
.button:hover,
.button:focus {
    height: auto;
    max-width: 15em;
    padding: 0.5em 2em;

    color: #FFF;
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);

    font-size: 1em;

    transition: all .15s ease;
}

.button:hover {
    transform: translateY(-1px);
    background: var(--color-accent);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}



/** SECTION-SPECIFIC RULES **/


#intro {
    display: flex;
    flex-direction: row;
}

#intro article {
    padding-top: 6vw;
    margin-left: 0;
}

#intro article ul {
    margin-top: 0px;
    list-style: none;
}

#intro article li {
    margin-bottom: 10%;
}

/*#intro .first {
    padding-left: 0px;
}

#intro .second {
    padding-left: 30px;
}*/

#intro .third {
    padding-left: 60px;
}


section#about {
    max-width: 45vw;
    padding: 6em 0;
}


section#showcase {
    width: 100vw;
    max-width: 100vw;
    /*overflow-x: scroll;*/

    padding: 6em 0;

    background: var(--color-base);
}


section#showcase > .cases {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.case {
    flex: 1;
}


.case:nth-child(even) {
    padding-right: 3em;
    text-align: left;
}


.case:nth-child(odd) {
    margin-top: 6em;
    padding-left: 3em;
    text-align: right;
}


.case > p {
    color: var(--color-secondary-text);
    text-align: inherit;
}


section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 0;
}


section#impressum {
    max-width: 50vw;
    margin: 3em auto;
}

