---
title: Clockworks
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <main id="main">
      <section id="intro">
        <div class="trapezoid big-up-grey"></div>
        <div class="container trapezoid-spacing">
          <article class="trapezoid-text">
            <p class="first">
              {% t intro.first %}
            </p>
            <p class="second">
              {% t intro.second %}
            </p>
            <a id="scroll-indicator" href="#what" data-scroll>
              <svg width="64" height="64">
                <filter id="glow">
                  <feGaussianBlur stdDeviation="2.5" result="coloredBlur"/>
                  <feMerge>
                    <feMergeNode in="coloredBlur"/>
                    <feMergeNode in="SourceGraphic"/>
                  </feMerge>
                </filter>
                <polyline points="10,26 32,44, 54,26"
                          style="fill:transparent;stroke-width:5;stroke:#D91F5D" />
              </svg>
            </a>
          </article>
        </div>
        <div class="trapezoid big-down-pink"></div>
      </section>
      <div class="container">
        <div class="content">
          <div class="separator"></div>

          <section id="what">
            <header><h4>{% t what.header %}</h4></header>

            <div class="services">
              <div class="service">
                <h5>{% t what.infrastructure.header %}</h5>
                <span>{% t what.infrastructure.description %}</span>
                <div class="separator"></div>
                <ul>
                  <li>
                    <i class="bullet">+</i> Simple, maintainable,
                    evolvable as you grow
                  </li>
                  <li>
                    <i class="bullet">+</i> Consistent environments
                    across development and all stages of deployment
                  </li>
                  <li>
                    <i class="bullet">+</i> Designed for security,
                    efficiency, and compliance with privacy
                    regulations
                  </li>
                </ul>
              </div>
              <div class="service">
                <h5>{% t what.processing.header %}</h5>
                <span>{% t what.processing.description %}</span>
                <div class="separator"></div>
                <ul>
                  <li>
                    <i class="bullet">+</i> Real-time answers to
                    complex questions across all your data
                  </li>
                  <li>
                    <i class="bullet">+</i> Automatic enforcement of
                    access policies and business-critical compliance
                    guarantees (GDPR)
                  </li>
                  <li>
                    <i class="bullet">+</i> Consistent interpretation
                    of results throughout your organization
                  </li>
                </ul>
              </div>
              <div class="service">
                <h5>{% t what.development.header %}</h5>
                <span>{% t what.development.description %}</span>
                <div class="separator"></div>
                <ul>
                  <li>
                    <i class="bullet">+</i> Reflect the state of your
                    business in real-time
                  </li>
                  <li>
                    <i class="bullet">+</i> Sophisticated, exploratory
                    interactions and support for data-driven decision
                    making
                  </li>
                  <li>
                    <i class="bullet">+</i> Hassle-free collaboration
                    with full support for offline use
                  </li>
                </ul>
              </div>
            </div>
          </section>
          
          <section id="how">
            <header><h4>{% t how.header %}</h4></header>

            <div class="engagement-types">
              <div class="engagement-type">
                <h5>{% t how.consulting.header %}</h5>
                <p>{% t how.consulting.description %}</p>
              </div>
              <div class="engagement-type">
                <h5>{% t how.development.header %}</h5>
                <p>{% t how.development.description %}</p>
              </div>
              <div class="engagement-type">
                <h5>{% t how.partnership.header %}</h5>
                <p>{% t how.partnership.description %}</p>
              </div>
            </div>
          </section>
          
          <!-- <section id="showcase"> -->
          <!--   <header><h4>{% t showcase.header %}</h4></header> -->

          <!--   <div class="cases"> -->
          <!--     <div class="case"> -->
          <!--       <svg shape-rendering="geometricprecision" -->
          <!--            width="100%" -->
          <!--            height="100%" -->
          <!--            style="max-width: 300px; overflow: visible;" -->
          <!--            viewBox="0 0 100 100"> -->
          <!--         <defs> -->
          <!--           <pattern id="img-sprachtalent-showcase" -->
          <!--                    patternUnits="userSpaceOnUse" -->
          <!--                    width="100%" -->
          <!--                    height="100%"> -->
          <!--             <image xlink:href="/assets/showcase/sprachtalent.jpg" -->
          <!--                    preserveAspectRatio="xMinYMid slice" -->
          <!--                    x="0" -->
          <!--                    y="0" -->
          <!--                    width="100%" -->
          <!--                    height="100%" /> -->
          <!--           </pattern> -->
          <!--         </defs> -->
          <!--         <polygon points="0,100 80,100 65,65 80,65 100,0 20,0 35,35 20,35 0,100" -->
          <!--                  style="stroke-width: 0.5; stroke: var(--color-primary);" -->
          <!--                  fill="url(#img-sprachtalent-showcase)"/> -->
          <!--       </svg> -->
          <!--       <div class="description"> -->
          <!--         <h5 class="client">{% t showcase.capm.header %}</h5> -->
          <!--         <p>{% t showcase.capm.description %}</p> -->
          <!--       </div> -->
          <!--     </div> -->
          <!--     <div class="case"> -->
          <!--       <svg shape-rendering="geometricprecision" -->
          <!--            width="50%" -->
          <!--            height="100%" -->
          <!--            style="max-width: 300px; overflow: visible;" -->
          <!--            viewBox="0 0 100 100"> -->
          <!--         <defs> -->
          <!--           <pattern id="img-classmind-showcase" -->
          <!--                    patternUnits="userSpaceOnUse" -->
          <!--                    width="100%" -->
          <!--                    height="100%"> -->
          <!--             <image xlink:href="/assets/showcase/classmind.png" -->
          <!--                    preserveAspectRatio="xMinYMid slice" -->
          <!--                    x="0" -->
          <!--                    y="0" -->
          <!--                    width="100%" -->
          <!--                    height="100%" /> -->
          <!--           </pattern> -->
          <!--         </defs> -->
          <!--         <polygon points="0,100 80,100 65,65 80,65 100,0 20,0 35,35 20,35 0,100" -->
          <!--                  style="stroke-width: 0.5; stroke: var(--color-primary);" -->
          <!--                  fill="url(#img-classmind-showcase)"/> -->
          <!--       </svg> -->
          <!--       <div class="description"> -->
          <!--         <h5>{% t showcase.classmind.header %}</h5> -->
          <!--         <p>{% t showcase.classmind.description %}</p> -->
          <!--       </div> -->
          <!--     </div> -->
          <!--   </div> -->
          <!-- </section> -->

          <section id="ideas">
            <header><h4>{% t ideas.header %}</h4></header>

            <ul>
              {% for post in site.posts limit:3 %}
              <li>
                <a class="post-link" href="{{ post.url }}">
                  <div class="header">
                    <h4>{{ post.title }}</h4>
                  </div>
                  <div class="abstract">
                    {{ post.excerpt }}
                  </div>
                  <div class="footer">
                    <span class="date">{{ post.date | date_to_string }}</span>
                    <span class="category">in {{ post.category }}</span>
                    <span class="language">{{ post.language }}</span>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </section>

          <section id="team">
            <header><h4>{% t team.header %}</h4></header>
            <div class="faces">
              <div class="member">
                <div class="face" style="background-image: url('/assets/team/niko.jpg')"></div>
                <h6>Nikolas Göbel</h6>
                <span class="role">Founder, Engineering Partner</span>
              </div>
              <div class="member">
                <div class="face" style="background-image: url('/assets/team/malte.jpg')"></div>
                <h6>Malte Sandstede</h6>
                <span class="role">Founder, Engineering Partner</span>
              </div>
              <div class="member">
                <div class="face" style="background-image: url('/assets/team/moritz.jpg')"></div>
                <h6>Moritz Moxter</h6>
                <span class="role">Founder, CEO</span>
              </div>
              <div class="member">
                <div class="face" style="background-image: url('/assets/team/david.jpg');background-position: 50% 40%;"></div>
                <h6>David Bach</h6>
                <span class="role">Engineering Associate</span>
              </div>
            </div>
            <script type="text/javascript">
              function shuffle(elems) {

              allElems = (function(){
              var ret = [], l = elems.length;
              while (l--) { ret[ret.length] = elems[l]; }
              return ret;
              })();

              var shuffled = (function(){
              var l = allElems.length, ret = [];
              while (l--) {
              var random = Math.floor(Math.random() * allElems.length),
              randEl = allElems[random].cloneNode(true);
              allElems.splice(random, 1);
              ret[ret.length] = randEl;
              }
              return ret;
              })(), l = elems.length;

              while (l--) {
              elems[l].parentNode.insertBefore(shuffled[l], elems[l].nextSibling);
              elems[l].parentNode.removeChild(elems[l]);
              }

              }

              shuffle(document.getElementsByClassName('member'));
            </script>
          </section>

          <div class="separator"></div>

          <section id="contact">
            <header><h4>{% t contact.header %}</h4></header>
            <a class="button" href="mailto:contact@clockworks.io">{% t contact.cta %}</a>
          </section>
        </div>
      </div>
    </main>

    {% include footer.html %}

    <!-- {% include lang_redirect.html %} -->
    
    {% include smooth_scrolling.html %}

    {% include typekit.html %}
  </body>
</html>
