---
title: Clockworks
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}

        <main>
            <section id="intro">
                <div class="trapezoid big-up-grey"></div>
                <div class="trapezoid-spacing">
                    <article class="trapezoid-text">
                        <p class="first">Wir sind ein Softwareberatungs- und Technologieunternehmen, das auf die Entwicklung von neuen Produkten
                            und langlebigen, belastbaren Lösungen spezialisiert ist.
                        </p>
                        <p class="second">Wir verstehen uns darauf, Ihre Vision zu konkretisieren und diese mit robuster Technologie sowie einem holistischen Konzept für System- und Interaktionsdesign zu
                            realisieren.
                        </p>
                        <a id="scroll-indicator" href="#about" data-scroll>
                            <svg width="64" height="64">
                                <filter id="glow">
                                    <feGaussianBlur stdDeviation="2.5" result="coloredBlur"/>
                                    <feMerge>
                                        <feMergeNode in="coloredBlur"/>
                                        <feMergeNode in="SourceGraphic"/>
                                    </feMerge>
                                </filter>
                                <polyline points="10,26 32,44, 54,26"
                                          style="fill:transparent;stroke-width:5;stroke:#D91F5D" />
                            </svg>
                        </a>                        
                    </article>
                </div>
                <div class="trapezoid big-down-pink"></div>
            </section>
            <div class="container">
                <div class="content">
                    <section id="about">
                        <header><h4>Unsere Sprache</h4></header>
                        <article>
                            <p>
                                Gute Software entsteht immer dann, wenn ein Problem nicht nur identifiziert, sondern auch formuliert werden kann; 
                                wenn eine Idee nicht nur erdacht, sondern als konkrete Lösung artikuliert wird; wenn ein Gedanke so klar beschrieben ist,
                                dass ihn selbst eine Maschine versteht.
                            </p>
                            <p>
                                Diese Sprache sprechen wir. 
                            </p>
                            <p>
                                Wir verstehen uns als Übersetzer zwischen Ihren Geschäftsinteressen und den Möglichkeiten der digitalen Welt: sei es als
                                Ihr Berater im Aufbau neuer Geschäftsfelder oder als Ihr Sparringspartner beim Lösen komplexer Probleme.
                            </p>
                        </article>
                    </section>

                    <section id="showcase">
                        <header><h4>Wo wir bereits helfen konnten</h4></header>

                        <div class="cases">
                            <div class="case">
                                <div id="case-capm" class="clip-each case-capm trapezoid-up border-style-none"></div>
                                <h5>sprachtalent</h5>
                                <p>
                                    Gemeinsam mit <a href="http://www.capitalent-medical.com/de/">Capitalent Medical</a> haben
                                    wir <a href="http://sprachtalent.com/">sprachtalent</a>, das Sprachlernprogramm für
                                    ausländische Pflegekräfte in Deutschland, entwickelt und von der ersten Vision bis zum Vertrieb hin
                                    begleitet.
                                </p>
                            </div>
                            <div class="case">
                                <div id="case-classmind" class="clip-each trapezoid-down border-style-none"></div>
                                <h5>Classmind</h5>
                                <p>
                                    Wir sind die Entwickler hinter <a href="https://classmind.de/">Classmind</a>, einer Kommunikationsplattform
                                    für Lehrer und Schüler.
                                </p>
                            </div>
                        </div>
                    </section>

                    <section id="team">
                        <header><h4>Das Team</h4></header>
                        <div class="faces">
                            <div class="member">
                                <img class="face" src="/assets/team/niko.jpg" />
                                <h6>Nikolas Göbel</h6>
                                <span class="role">Founder, Engineering Partner</span>
                            </div>
                            <div class="member">
                                <img class="face" src="/assets/team/malte.jpg" />
                                <h6>Malte Sandstede</h6>
                                <span class="role">Founder, Engineering Partner</span>
                            </div>
                            <div class="member">
                                <img class="face placeholder" src="/assets/team/placeholder.png" />
                                <h6>Moritz Moxter</h6>
                                <span class="role">Founder und CEO</span>
                            </div>
                            <div class="member">
                                <img class="face placeholder" src="/assets/team/placeholder.png" />
                                <h6>Marcel Gazsi</h6>
                                <span class="role">Founder, Infrastructure Engineer</span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            function shuffle(elems) {
                             
                                allElems = (function(){
                                var ret = [], l = elems.length;
                                while (l--) { ret[ret.length] = elems[l]; }
                                return ret;
                                })();
                             
                                var shuffled = (function(){
                                    var l = allElems.length, ret = [];
                                    while (l--) {
                                        var random = Math.floor(Math.random() * allElems.length),
                                            randEl = allElems[random].cloneNode(true);
                                        allElems.splice(random, 1);
                                        ret[ret.length] = randEl;
                                    }
                                    return ret; 
                                })(), l = elems.length;
                             
                                while (l--) {
                                    elems[l].parentNode.insertBefore(shuffled[l], elems[l].nextSibling);
                                    elems[l].parentNode.removeChild(elems[l]);
                                }
                             
                            }
                            
                            shuffle(document.getElementsByClassName('member'));
                        </script>
                    </section>

                    <div class="separator"></div>

                    <section id="contact">
                        <header><h4>Interessiert an einer Zusammenarbeit?</h4></header>
                        <a class="button" href="mailto:team@clockworks.io">Schreiben Sie uns</a>
                    </section>
                </div>
            </div>
        </main>

        {% include footer.html %}

        {% include smooth_scrolling.html %}
        
        {% include typekit.html %}
    </body>
</html>
