<header>
  <div id="nav-container">
    <h1><a href="/#">clockworks</a></h1>
    <div class="menu-separator"></div>
    <section id="page-header">
      <nav id="primary-navigation">
        <ul>
          {% if page.title == "Clockworks" %}
          <!-- <li><a href="#technologies" data-scroll>{{ site.data[page.lang].nav.technologies }}</a></li> -->
          <li><a href="#what" data-scroll>{{ site.data[page.lang].nav.what }}</a></li>
          <li><a href="#customers" data-scroll>{{ site.data[page.lang].nav.showcase }}</a></li>
          <!-- <li><a href="#team" data-scroll>{{ site.data[page.lang].nav.team }}</a></li> -->
          <li><a href="/{{page.lang}}/blog" data-scroll>{{ site.data[page.lang].nav.blog }}</a></li>
          {% else %}
          <li><a href="/{{page.lang}}#technologies" data-scroll>{{ site.data[page.lang].nav.technologies }}</a></li>
          <li><a href="/{{page.lang}}#what" data-scroll>{{ site.data[page.lang].nav.what }}</a></li>
          <li><a href="/{{page.lang}}#customers" data-scroll>{{ site.data[page.lang].nav.showcase }}</a></li>
          <li><a href="/{{page.lang}}#team" data-scroll>{{ site.data[page.lang].nav.team }}</a></li>
          <li><a href="/{{page.lang}}/blog" data-scroll>{{ site.data[page.lang].nav.blog }}</a></li>
          {% endif %}
        </ul>
      </nav>
    </section>
    <div class="menu-separator"></div>
  </div>
</header>
