<header>
  <div id="nav-container">
    <h1><a href="/#">clockworks</a></h1>
    <div class="menu-separator"></div>
    <section id="page-header">
      <nav id="primary-navigation">
        <ul>
          {% if page.path == "index.html" %}
          <li><a href="#what" data-scroll>{% t nav.what %}</a></li>
          <li><a href="#customers" data-scroll>{% t nav.showcase %}</a></li>
          <li><a href="#team" data-scroll>{% t nav.team %}</a></li>
          <li><a href="/{{site.lang}}/blog" data-scroll>{% t nav.blog %}</a></li>
          {% else %}
          <li><a href="/{{site.lang}}#what" data-scroll>{% t nav.what %}</a></li>
          <li><a href="/{{site.lang}}#customers" data-scroll>{% t nav.showcase %}</a></li>
          <li><a href="/{{site.lang}}#team" data-scroll>{% t nav.team %}</a></li>
          <li><a href="/{{site.lang}}/blog" data-scroll>{% t nav.blog %}</a></li>
          {% endif %}
        </ul>
      </nav>
    </section>
    <div class="menu-separator"></div>
  </div>
</header>
