<header>
  <div id="nav-container">
    <h1><a href="/#">clockworks</a></h1>
    <div class="menu-separator"></div>
    <section id="page-header">
      <nav id="primary-navigation">
        <ul>
          <li><a href="/#what" data-scroll>{% t nav.what %}</a></li>
          <li><a href="/#customers" data-scroll>{% t nav.showcase %}</a></li>
          <li><a href="/#team" data-scroll>{% t nav.team %}</a></li>
          <li><a href="/blog" data-scroll>{% t nav.blog %}</a></li>
        </ul>
      </nav>
    </section>
    <div class="menu-separator"></div>
  </div>
</header>
