---
title: Clockworks Blog
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <main>
      <section id="posts">
        <ul>
          {% for post in site.posts %}
          <li>
            <a class="post-link" href="{{ post.url }}">
              <div class="header">
                <h4>{{ post.title }}</h4>
              </div>
              <div class="abstract">
                {{ post.excerpt }}
              </div>
              <div class="footer">
                <span class="date">{{ post.date | date_to_string }}</span>
                <span class="category">in {{ post.category }}</span>
                <span class="language">{{ post.language }}</span>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>

    {% include footer.html %}

    <!-- {% include lang_redirect.html %} -->
    
    {% include typekit.html %}
  </body>
</html>
