---
title: Clockworks - Impressum
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}

        <main style="flex: 1;">
            <section id="impressum">
                <article>
                    <p>
                        Clockworks UG (haftungsbeschränkt)<br/>
                        Simsonstraße 5<br/>
                        60385 Frankfurt am Main<br/>
                        <a href="mailto:contact@clockworks.io">contact@clockworks.io</a><br/>
                    </p>
                    <p>
                        Registered Office: Frankfurt Main, Germany<br />
                        MD: Moritz Moxter<br/>
                        Commercial Register Frankfurt HRB 99112<br/>
                        Tax Identification number: 045 230 49352<br/>
                    </p>
                </article>
            </section>
        </main>

        {% include footer.html %}
    </body>
</html>
