---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <main>
      <article>
        <h1>{{ page.title }}</h1>
        <div id="post-info">
          {% for author in page.author %}
            <div class="face" style="background-image: url('/assets/team/{{ author }}.jpg')"></div>
          {% endfor %}
          <span>by 
            {% for author in page.author %}
              {{ site.data.authors[author].name }}{% if forloop.index != (forloop.length - 1) %}, {% endif %}
            {% endfor %}
          </span>
        </div>
        
        {{ content | remove_first: page.excerpt }}
      </article>
    </main>

    {% include footer.html %}

    {% include smooth_scrolling.html %}
    
    {% include typekit.html %}
  </body>
</html>
